:root {
  --font-family\<deleted\|variable-9d20c8b9-ae82-9183-901f-5e09d926e566\>: "Exo 2";
  --on-surface: white;
  --heading: Lora, sans-serif;
  --black: #001e3c;
  --black\<deleted\|variable-d43fbca3\>: #101014;
  --brand\<deleted\|variable-ee8020ea\>: var(--blue\<deleted\|variable-73f516a1\>);
  --midnight-blue\<deleted\|variable-85b42801\>: #22264f;
  --hot-pink-2\<deleted\|variable-0dcb01d1\>: #fc5aad;
  --blue\<deleted\|variable-73f516a1\>: #2739fd;
  --body: Roboto, sans-serif;
  --ghost-white\<deleted\|variable-d27a3184\>: #e9edf7;
  --surface-container-low: #f8f8f8;
  --on-surface-variant: #adadad;
  --brand: #0aa;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-users-userformpagewrap {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 340px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  text-align: center;
  width: 100%;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userresetpasswordformwrapper, .w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.page-wrapper {
  overflow-y: hidden;
}

body {
  font-family: var(--font-family\<deleted\|variable-9d20c8b9-ae82-9183-901f-5e09d926e566\>);
  color: var(--on-surface);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

h1 {
  font-family: var(--heading);
  color: var(--black);
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-family: var(--heading);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
}

p {
  color: var(--black);
  margin-bottom: 10px;
  font-weight: 500;
}

a {
  color: var(--black);
  font-weight: 700;
  text-decoration: underline;
}

a:hover {
  color: #111;
}

.perex {
  color: var(--black\<deleted\|variable-d43fbca3\>);
  text-align: center;
  letter-spacing: .5px;
  margin-bottom: 0;
  font-family: Montserrat variablefont wght;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.5;
}

.perex.ref--perex {
  max-width: 70%;
  margin-bottom: 0;
}

.ref__item {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.h3 {
  color: var(--brand\<deleted\|variable-ee8020ea\>);
  letter-spacing: .5px;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: Montserrat variablefont wght;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
}

.ref__item--pic {
  border-radius: 32px;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 24px 80px -32px #22264f3d;
}

.image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}

.ref__item--header {
  height: auto;
  margin-top: 24px;
}

.ref-content-box {
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0;
  display: flex;
}

.btn-link {
  color: var(--midnight-blue\<deleted\|variable-85b42801\>);
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  transition: all .3s ease-in-out;
}

.btn-link:hover {
  color: var(--hot-pink-2\<deleted\|variable-0dcb01d1\>);
}

.testimonial-grid__item {
  background-color: #f2f3ff;
  border-radius: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 32px;
  display: flex;
}

.quote {
  color: var(--blue\<deleted\|variable-73f516a1\>);
  justify-content: center;
  align-items: center;
  font-family: IBM Plex Serif;
  font-size: 120px;
  line-height: 0;
  display: block;
}

.block-quote {
  color: var(--black\<deleted\|variable-d43fbca3\>);
  letter-spacing: .5px;
  border-left: 0 #0000;
  margin-top: 24px;
  margin-bottom: 0;
  padding: 0;
  font-family: IBM Plex Serif;
  font-size: 19.2px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.8;
}

.container {
  max-width: 1093px;
  padding-left: 24px;
  padding-right: 24px;
}

.is-highlight {
  font-family: var(--body);
  font-weight: 900;
}

.row {
  flex-flow: row;
  width: 100%;
  display: flex;
}

.row.is-justify-center {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  align-items: stretch;
}

.row.is-gap-large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.row.is-align-center {
  justify-content: flex-start;
  align-items: center;
}

.footer {
  padding-right: 0;
}

.footer-row {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.footer-col {
  grid-row-gap: 4px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.footer-col.last {
  width: auto;
}

.footer-h4 {
  color: #c60;
  border-bottom: 1px solid #aa0100;
  margin-top: 0;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
}

.footer-p {
  color: var(--ghost-white\<deleted\|variable-d27a3184\>);
  margin-bottom: 0;
  font-family: Montserrat variablefont wght;
  font-size: 13px;
  font-weight: 500;
}

.footer-p.mt-32 {
  margin-top: 32px;
}

.footer-p.mt-32.copyright {
  opacity: .5;
  text-align: center;
  width: 100%;
  margin-top: 48px;
}

.footer-link {
  color: var(--ghost-white\<deleted\|variable-d27a3184\>);
  text-decoration: none;
  transition: all .2s;
}

.footer-link:hover {
  color: var(--brand\<deleted\|variable-ee8020ea\>);
  text-decoration: underline;
}

.body {
  background-color: var(--surface-container-low);
  font-family: var(--body);
  color: var(--black);
  font-size: 1rem;
  line-height: 150%;
}

.container_large {
  max-width: 1440px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container_large.is-surface {
  background-color: var(--surface-container-low);
  border-radius: 3rem;
}

.col {
  width: 100%;
  max-width: 100%;
}

.col.col_8 {
  max-width: 66.6667%;
}

.col.col_4 {
  max-width: 33.3333%;
}

.col.col_6 {
  max-width: 50%;
}

.col.col_5 {
  max-width: 41.6667%;
}

.col.col_10 {
  max-width: 83.3333%;
}

.slider {
  background-color: #0000;
  border-radius: 1.5rem;
  width: 100%;
  height: 25rem;
  overflow: hidden;
}

.slider_slide {
  aspect-ratio: 4 / 3;
  width: 100%;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #2d62ff;
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #dd23bb;
}

.text-size-tiny {
  font-size: .75rem;
}

.nav_menu_link {
  color: #fff;
  padding: 1rem;
}

.heading-style-h2 {
  letter-spacing: .5px;
  font-size: 3rem;
  line-height: 1.2;
}

.fs-styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #eee;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.fs-styleguide_hero-label {
  color: #000;
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.padding-custom3 {
  padding: 3.5rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.fs-styleguide_background {
  border: 1px solid #0000001a;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.background-color-secondary {
  background-color: #2d62ff;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.overflow-hidden {
  overflow: hidden;
}

.pointer-events-none {
  pointer-events: none;
}

.margin-xsmall {
  margin: .5rem;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid #0000001a;
  width: 100%;
  padding-bottom: 2rem;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

.fs-styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.text-weight-xbold {
  font-weight: 800;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.icon-1x1-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.padding-small {
  padding: 1rem;
}

.fs-styleguide_header {
  color: #fff;
  background-color: #000;
  background-image: radial-gradient(circle at 100% 100%, #dd23bb40, #0000 40%), radial-gradient(circle at 0 100%, #2d62ff4d, #0000 60%);
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.form_input {
  background-color: #0000;
  border: 1px solid #eee;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input::placeholder, .form_input.is-select-input {
  color: #222;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.text-color-alternate {
  color: #fff;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.text-weight-medium {
  font-weight: 500;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.text-style-muted {
  opacity: .6;
}

.margin-custom1 {
  margin: 1.5rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.text-size-regular {
  font-size: 1rem;
}

.fs-styleguide_spacing-all {
  display: none;
}

.form_component {
  margin-bottom: 0;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.text-align-left {
  text-align: left;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.margin-xxlarge {
  margin: 5rem;
}

.margin-small {
  margin: 1rem;
}

.text-align-center {
  text-align: center;
}

.hide {
  display: none;
}

.heading-style-h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.overflow-scroll {
  overflow: scroll;
}

.margin-tiny {
  margin: .125rem;
}

.padding-xhuge {
  padding: 8rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.icon-height-small {
  height: 1rem;
}

.padding-xxhuge {
  padding: 12rem;
}

.text-color-primary {
  color: #000;
}

.padding-large {
  padding: 3rem;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.button-group.is-justify-center {
  justify-content: center;
  align-items: center;
}

.button-group.max-height-full {
  flex: 1;
  justify-content: flex-start;
  align-items: flex-end;
  max-height: 100%;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-align-right {
  text-align: right;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-custom1 {
  padding: 1.5rem;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.padding-0 {
  padding: 0;
}

.overflow-auto {
  overflow: auto;
}

.text-style-italic {
  font-style: italic;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.padding-custom2 {
  padding: 2.5rem;
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: #2d40ea0d;
  border: 1px dashed #2d40ea;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.text-color-secondary {
  color: #222;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.heading-style-h4 {
  font-family: var(--heading);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.margin-large {
  margin: 3rem;
}

.margin-0 {
  margin: 0;
}

.icon-height-large {
  height: 3rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.form_message-success {
  color: #114e0b;
  background-color: #cef5ca;
  padding: 1.25rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.background-color-alternate {
  background-color: #fff;
}

.heading-style-h3 {
  font-family: var(--heading);
  margin-top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.button {
  background-color: var(--black);
  color: var(--on-surface);
  text-align: center;
  letter-spacing: .5px;
  border-radius: .5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  position: relative;
}

.button:hover {
  color: var(--on-surface);
  background-color: #111;
}

.button.is-text {
  color: #000;
  background-color: #0000;
  border: 2px solid #0000;
}

.button.is-secondary {
  color: #000;
  background-color: #0000;
  border: 1px solid #222;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.margin-medium {
  margin: 2rem;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, #2d40ea1a, #fff0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start stretch;
  display: grid;
  position: relative;
}

.margin-custom2 {
  margin: 2.5rem;
}

.nav_button {
  padding: 1rem;
}

.text-weight-bold {
  font-weight: 700;
}

.padding-medium {
  padding: 2rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-size-small {
  font-size: .875rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.text-size-large {
  color: var(--on-surface-variant);
  letter-spacing: .5px;
  font-size: 2rem;
  line-height: 1.1;
}

.text-size-large.is-brand-logo {
  color: var(--brand);
  font-family: "Vt 323";
  font-size: 2rem;
  font-weight: 500;
}

.form_message-error {
  color: #3b0b0b;
  background-color: #f8e4e4;
  margin-top: .75rem;
  padding: .75rem;
}

.padding-xsmall {
  padding: .5rem;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid #0000001a;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.text-style-nowrap {
  white-space: nowrap;
}

.margin-huge {
  margin: 6rem;
}

.nav_component {
  background-color: #000;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
  inset: 0% 0% auto;
}

.padding-xxsmall {
  padding: .25rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.nav_brand {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-huge {
  padding: 6rem;
}

.fs-styleguide_spacer-box {
  background-color: #2d40ea1a;
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.text-style-link {
  color: #2d62ff;
  text-decoration: underline;
}

.padding-tiny {
  padding: .125rem;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.background-color-tertiary {
  background-color: #dd23bb;
}

.text-size-medium {
  font-size: 1.5rem;
  line-height: 1.2;
}

.text-size-medium.is-brand {
  color: var(--brand);
  font-weight: 500;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.spacer-large {
  padding-top: 3rem;
}

.background-color-primary {
  color: #fff;
  background-color: #000;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.fs-styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_message {
  color: #5e5515;
  background-color: #fcf8d8;
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_logo {
  width: 10rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.icon-height-medium {
  height: 2rem;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.section_hero {
  padding-top: 8rem;
  position: relative;
}

.badge {
  border: 1px solid var(--on-surface);
  border-radius: 10rem;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 11rem;
  display: flex;
  position: absolute;
}

.badge_curved-text {
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}

.badge_wrapper {
  justify-content: center;
  align-items: center;
  width: 13rem;
  max-width: 100vw;
  height: 13rem;
  max-height: 100vw;
  display: flex;
}

.curved-text_hack {
  color: var(--black);
}

.section_reference {
  z-index: 2;
  margin-bottom: 10rem;
  position: relative;
}

.section_reference-inside {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
}

.reference_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.tabs-menu {
  border: 1px solid #ffffff1a;
  border-radius: 1rem;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
  display: flex;
  position: absolute;
  top: -80px;
  overflow: hidden;
}

.tab {
  color: var(--on-surface);
  background-color: #0000;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.tab.w--current {
  color: var(--on-surface);
  background-color: #fff3;
}

.tabs {
  perspective: 1000px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.left-arrow, .right-arrow {
  display: none;
}

.image-2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reference_box {
  background-color: #ffffff1a;
  border: 1px solid #000;
  border-radius: 2rem;
  width: 100%;
  padding: 1rem;
  position: relative;
  box-shadow: inset 1px 1px 1px #fff3, 0 2px 24px #0006;
}

.reference {
  perspective: 1000px;
}

.slide-nav {
  display: none;
}

.section_text {
  z-index: 2;
  position: relative;
}

.flex_center {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.logo_thumb {
  border: 4px solid var(--brand);
  object-fit: cover;
  border-radius: 0;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}

.badge_image {
  object-fit: cover;
  border-radius: 10rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}

.heading {
  letter-spacing: .5px;
  font-family: "Vt 323";
  font-weight: 400;
  line-height: 1;
}

.button_front {
  z-index: 1;
  color: var(--on-surface);
  background-color: #a00;
  padding: .85rem 1rem;
  position: relative;
}

.button_back {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: .5rem 0% 0% .5rem;
}

.red {
  color: #aa0100;
}

.list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.email {
  width: 100%;
  position: relative;
}

.email_front {
  z-index: 1;
  text-align: center;
  background-color: #323232;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  display: flex;
  position: relative;
}

.email_back {
  z-index: 0;
  text-align: center;
  background-color: #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  position: absolute;
  inset: .5rem 0% 0% .5rem;
}

.hero-ellipse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  overflow: hidden;
  pointer-events: none;
}

.hero_image-background {
  z-index: -1;
  width: 100%;
  margin-left: 50%;
  margin-right: auto;
  margin-top: -40%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0) scale(2);
  -webkit-animation: home-header--rotating-ellipse 20s linear infinite;
  animation: home-header--rotating-ellipse 20s linear infinite;
}

@keyframes home-header--rotating-ellipse {
  0% {
    transform: translate(-50%, -50%) rotate(-270deg) scale(2);
  }

  100% {
    transform: translate(-50%, -50%) rotate(90deg) scale(2);
  }
}

.box {
  background-color: var(--on-surface);
  border-radius: .5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 2rem;
  display: flex;
  box-shadow: 0 4px 24px #0000000d;
}

.box.is-justify-center {
  justify-content: center;
  align-items: center;
}

.box-cta {
  color: var(--on-surface);
  background-color: #001e3c;
  background-image: radial-gradient(circle at 50% 150%, #2c00a3, #540492d9 16%, #201a3300);
  border-radius: .5rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 4rem;
  font-weight: 400;
  text-decoration: none;
  display: flex;
}

.box-cta:hover {
  color: var(--surface-container-low);
}

.box-cta.is-justify-center {
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  h2 {
    font-family: var(--heading);
  }

  .body {
    color: var(--black);
  }


  .box {
    background-color: var(--on-surface);
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0 4px 24px #0000000d;
  }

  .box-cta {
    box-shadow: 0 4px 24px #0000000d;
  }
}

@media screen and (min-width: 1920px) {
  .block-quote {
    font-weight: 500;
  }

}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .row {
    grid-column-gap: 40px;
  }

  .row.is-justify-center {
    margin-bottom: 0;
  }

  .footer-row {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .body {
    background-size: auto 120px;
  }

  .col.col_8 {
    max-width: 100%;
  }

  .col.col_5 {
    max-width: 50%;
  }

  .col.col_10 {
    max-width: 100%;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .nav_button {
    color: #fff;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .fs-styleguide_4-col, .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .margin-huge {
    margin: 5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .hide-tablet {
    display: none;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .padding-xlarge {
    padding: 3rem;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .hero_image-background {
    margin-top: -20%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.25rem;
  }

  .block-quote {
    font-size: 16px;
  }

  .row {
    grid-row-gap: 24px;
    flex-direction: column;
    margin-bottom: 80px;
  }

  .row.is-still-row {
    flex-flow: row;
    margin-bottom: 0;
  }

  .footer-row {
    grid-template-columns: 1fr;
  }

  .footer-p.social {
    line-height: 250%;
  }

  .col.col_5 {
    max-width: 100%;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .text-size-regular {
    font-size: .85rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .text-size-medium {
    font-size: 1.25rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .section_hero {
    padding-top: 5rem;
  }

  .hero_image-background {
    margin-top: -30%;
  }
}

@media screen and (max-width: 479px) {
  .perex {
    letter-spacing: 0;
    font-size: 16px;
  }

  .h3 {
    font-size: 18px;
  }

  .testimonial-grid__item {
    padding-left: 24px;
    padding-right: 24px;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .button-group.max-height-full {
    width: 100%;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .heading-style-h3 {
    font-size: 1.25rem;
  }

  .button {
    width: 100%;
    font-size: .85rem;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .hero_image-background {
    margin-top: -40%;
    transform: translate3d(-50%, -50%, 0) scale(3);
  }

  .box {
    padding: 1.25rem;
  }

  .box-cta {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .list {
    font-size: 0.85rem;
  }

  .footer.padding-bottom {
    padding-bottom: 1rem;
  }
}

#w-node-_45c9d881-e470-637b-2dbd-25c5cc190516-5d05d6ef, #w-node-a402803f-5fe4-aabc-de87-f6b3fab50749-5d05d6ef, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195989-371dc4d4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f1959a8-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f1959ad-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f1959b2-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f1959b7-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f1959bd-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f1959c3-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f1959c9-371dc4d4 {
  justify-self: start;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195aab-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195ab3-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195aca-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195ae3-371dc4d4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195ae6-371dc4d4 {
  justify-self: start;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195ae8-371dc4d4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195aeb-371dc4d4 {
  justify-self: start;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195b3b-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195b45-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195b46-371dc4d4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bb8-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bbd-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bc2-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bc7-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bcc-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bd1-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bdb-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195be0-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195be5-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bea-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bef-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bf4-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bf9-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195bfe-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c03-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c08-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c0d-371dc4d4 {
  justify-self: start;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c11-371dc4d4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c12-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c17-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c1c-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c21-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c35-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c3a-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c3f-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c44-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c49-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c4e-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c58-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c5d-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c62-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c67-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c6c-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c71-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c76-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c7b-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c80-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c85-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c8a-371dc4d4 {
  justify-self: start;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c8e-371dc4d4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c8f-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c94-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c99-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195c9e-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195caf-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195cb4-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195cb9-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195cbe-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195cc3-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195cc8-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195ccd-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195cd2-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195cd7-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195cdc-371dc4d4 {
  justify-self: start;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195ce0-371dc4d4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195ce1-371dc4d4 {
  justify-self: start;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195ce4-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195d65-371dc4d4, #w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195d92-371dc4d4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5c5cbfd5-9bac-5c0a-c464-5b7a9f195dd0-371dc4d4 {
  justify-self: start;
}


