p {
  margin-bottom: 10px;
  font-family: Inter;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 150%;
}

.perex {
  margin-bottom: 0px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #101014;
  font-size: 21px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5px;
}

.perex.ref--perex {
  max-width: 70%;
  margin-bottom: 0px;
}

.perex.muted {
  margin-top: 0px;
  color: #7a7a8d;
}

.perex.muted.mb-32 {
  max-width: 573px;
  margin-bottom: 24px;
  color: #7a7a8d;
  letter-spacing: 0.3px;
}

.perex.muted.left {
  color: #273e47;
  line-height: 32px;
}

.perex.primary {
  color: #fa4f0b;
}

.perex.primary.rotate-text {
  line-height: 32px;
  text-align: left;
}

.ref__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #fa4f0b;
  font-size: 21px;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.ref__item--pic {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0px;
  padding-bottom: 75%;
  border-radius: 32px;
  box-shadow: 0 24px 80px -32px rgba(34, 38, 79, 0.24);
}

.image {
  position: absolute;
  top: 0px;
  width: 100%;
  height: auto;
}

.ref__item--header {
  height: auto;
  margin-top: 24px;
}

.ref-content-box {
  display: flex;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-link {
  padding-right: 16px;
  padding-left: 16px;
  transition: all 300ms ease-in-out;
  font-family: montserrat, sans-serif;
  color: #22264f;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
}

.btn-link:hover {
  color: #fc5aad;
}

.testimonial-grid__item {
  display: flex;
  padding: 48px 32px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px;
  background-color: #f2f3ff;
}

.quote {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Serif';
  color: #2739fd;
  font-size: 120px;
  line-height: 0px;
}

.block-quote {
  margin-top: 24px;
  margin-bottom: 0px;
  padding: 0px;
  border-left: 0px none transparent;
  font-family: 'IBM Plex Serif';
  color: #101014;
  font-size: 19.2px;
  line-height: 1.8;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.header {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.container-header {
  position: relative;
  z-index: 1;
  display: flex;
  max-width: 1920px;
  padding-right: 24px;
  padding-left: 24px;
  justify-content: space-between;
  align-items: center;
}

.logo-carousel {
  margin: 0px 24px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #252323;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.5px;
  max-height: 32px;
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 32px;
}

.nav-link {
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #273e47;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.container {
  max-width: 1093px;
  padding-right: 24px;
  padding-left: 24px;
}

.container.small {
  max-width: 900px;
}

.hero {
  display: flex;
  padding-top: 188px;
  padding-bottom: 92px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row-gap: 24px;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #273e47;
  font-size: 36px;
  line-height: 130%;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.5px;
}

.h1.left {
  text-align: left;
}

.h1.mb-32 {
  margin-bottom: 32px;
}

.highlight {
  color: #fa4f0b;
}

.primary-button {
  display: flex;
  height: 56px;
  padding-right: 50px;
  padding-left: 50px;
  align-items: center;
  border-radius: 32px;
  background-color: #fa4f0b;
  transition: all 200ms ease;
  font-family: 'Montserrat variablefont wght', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.primary-button:hover {
  background-color: #de460a;
}

.logos {
  position: absolute;
  left: 0px;
  display: flex;
  width: 2222px;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

.section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 0px;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #333;
  font-size: 28px;
  line-height: 130%;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.77px;
}

.row {
  display: flex;
  margin-bottom: 120px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 56px;
  grid-row-gap: 40px;
}

.service-box {
  position: relative;
  width: 100%;
  max-width: 420px;
  padding: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #e9edf7;
  border-radius: 20px;
  background-color: #fff;
}

.service-box.quote-box {
  display: flex;
  max-width: none;
  align-items: flex-start;
  grid-column-gap: 56px;
  background-color: #f9fdff;
}

.paragraph {
  margin-bottom: 0px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #7a7a8d;
  font-weight: 500;
  letter-spacing: 0.34px;
}

.bg-top {
  position: absolute;
  left: -150px;
  top: -130px;
  z-index: -1;
  width: 500px;
  height: 400px;
  min-width: 500px;
  background-image: url('../images/bg.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-bottom {
  position: absolute;
  right: -149px;
  bottom: -165px;
  z-index: -1;
  width: 500px;
  height: 400px;
  min-width: 500px;
  background-image: url('../images/bg.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.changing-text {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
}

.vertical-scroll-wrapper {
  position: relative;
  overflow: hidden;
  width: 252px;
  height: 96px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text-rotation-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 120px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
}

.track-vertical {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.heading-large {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #111322;
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 600;
}

.heading-large.rotate-text {
  color: #dcdfea;
  font-weight: 600;
  white-space: nowrap;
}

.gradient-top {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(180deg, #fff, transparent);
}

.gradient-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(180deg, transparent, #fff);
}

.quote-logo {
  height: 100%;
  max-height: 100%;
  min-height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

.quote-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quote-text {
  margin-bottom: 0px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #7a7a8d;
  font-weight: 500;
  letter-spacing: 0.36px;
}

.author {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
}

.author-photo {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  border: 2px solid #fa4f0b;
  border-radius: 20px;
  background-image: url('../images/milos.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2px #fff;
}

.author-photo.verca {
  background-image: url('../images/veronika.jpeg');
}

.author-photo.adam {
  background-image: url('../images/1582101774969.jpeg');
}

.author-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #273e47;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.34px;
}

.author-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 0px;
}

.author-role {
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #7a7a8d;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.quote-footer {
  display: flex;
  width: 100%;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  transition: all 200ms ease;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #fa4f0b;
  font-weight: 600;
  text-decoration: none;
}

.link-button:hover {
  color: #de460a;
}

.line {
  position: absolute;
  height: 1px;
}

.line.horizontal {
  left: -40px;
  right: -40px;
  background-image: linear-gradient(90deg, #fff 1%, #e9edf7 5%, #e9edf7 95%, #fff);
}

.line.horizontal.top {
  top: -1px;
}

.line.horizontal.bottom {
  bottom: -1px;
}

.line.vertical {
  top: -30px;
  bottom: -30px;
  width: 1px;
  height: auto;
  background-image: linear-gradient(180deg, #fff, #e9edf7 5%, #e9edf7 95%, #fff);
}

.line.vertical.left {
  left: -1px;
}

.line.vertical.right {
  right: -1px;
}

.cross {
  position: absolute;
  display: flex;
  width: 9px;
  height: 9px;
  color: #b7bcce;
}

.cross.top-left {
  left: -5px;
  top: -5px;
  right: auto;
  bottom: auto;
}

.cross.top-right {
  left: auto;
  top: -5px;
  right: -5px;
  bottom: auto;
}

.cross.bottom-left {
  left: -5px;
  top: auto;
  right: auto;
  bottom: -5px;
}

.cross.bottom-right {
  left: auto;
  top: auto;
  right: -5px;
  bottom: -5px;
}

.grid-box {
  display: -ms-grid;
  display: grid;
  margin-bottom: 48px;
  grid-auto-columns: 1fr;
  grid-column-gap: 56px;
  grid-row-gap: 48px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.center-row {
  display: flex;
  width: 100%;
  padding-right: 160px;
  padding-left: 160px;
  justify-content: center;
  align-items: center;
}

.center-row.mt-120 {
  position: relative;
  margin-top: 120px;
}

.bg-bottom-left {
  position: absolute;
  left: -150px;
  bottom: -137px;
  z-index: -1;
  width: 500px;
  height: 400px;
  min-width: 500px;
  background-image: url('../images/bg.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.quote-left {
  display: flex;
  width: 200px;
  height: 56px;
  min-width: 200px;
  align-items: flex-start;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 40px;
}

.brand-logo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #273e47;
  font-size: 28px;
  line-height: 32px;
  max-height: 50px;
}

.email-link {
  transition: all 200ms ease;
  color: #fa4f0b;
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
}

.email-link:hover {
  color: #de460a;
}

.footer {
  margin-top: 120px;
  padding-top: 48px;
  padding-right: 0px;
  padding-bottom: 48px;
  background-color: #273e47;
}

.footer-row {
  display: flex;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-col {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  grid-row-gap: 4px;
}

.footer-col.last {
  width: auto;
}

.footer-h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #e9edf7;
  font-size: 16px;
  font-weight: 600;
}

.footer-p {
  margin-bottom: 0px;
  font-family: 'Montserrat variablefont wght', sans-serif;
  color: #e9edf7;
  font-size: 13px;
  font-weight: 500;
}

.footer-p.mt-32 {
  margin-top: 32px;
}

.footer-p.mt-32.copyright {
  width: 100%;
  margin-top: 48px;
  opacity: 0.5;
  text-align: center;
}

.footer-link {
  transition: all 200ms ease;
  color: #e9edf7;
  text-decoration: none;
}

.footer-link:hover {
  color: #fa4f0b;
  text-decoration: underline;
}

.section-anchor {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrow-box {
  position: absolute;
  left: -60px;
  top: -80px;
  right: auto;
  bottom: auto;
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
  color: #7a7a8d;
}

.arrow-box.top-right {
  left: auto;
  top: -90px;
  right: -60px;
}

.arrow-box.ping-me {
  left: 140px;
  top: 126%;
}

.arrow-box.price {
  left: auto;
  top: -20px;
  right: -190px;
  align-items: flex-start;
}

.arrow-text {
  margin-bottom: 0px;
  font-family: Caveat, sans-serif;
  color: #7a7a8d;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.arrow-arrow {
  height: 42px;
  margin-top: -37px;
  margin-left: 106px;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(126deg);
  color: #7a7a8d;
  transform-style: preserve-3d;
}

.arrow-arrow.top-right {
  margin-top: -35px;
  margin-left: -85px;
  transform: rotate(112deg);
}

.arrow-arrow.ping-me {
  margin-top: -58px;
  margin-left: 66px;
  transform: rotate(-64deg);
}

.arrow-arrow.price {
  margin-top: 17px;
  margin-left: -57px;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(24deg);
  transform-style: preserve-3d;
}

.hand-written-link {
  transition: all 200ms ease;
  color: #7a7a8d;
  text-decoration: none;
}

.hand-written-link:hover {
  color: #fa4f0b;
}

.external-link-icon {
  width: 20px;
  height: 20px;
}

.logos-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logos-wrapper {
  position: absolute;
  left: 0px;
  width: 1070px;
  height: 3rem;
}

.logos-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.body {
  background-image: url('../images/P9LGrc34PeSpMrCX3YzWJFZQSyY.svg');
  background-position: 50% 0%;
  background-size: auto 160px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1280px) {
  .logos {
    position: relative;
    width: 100%;
    justify-content: center;
  }

  .arrow-box {
    left: -177px;
    top: 20px;
  }

  .arrow-box.top-right {
    right: -177px;
  }

  .arrow-arrow {
    margin-top: 11px;
    margin-left: 74px;
    transform: rotate(10deg);
  }

  .logos-row.second-row {
    display: none;
  }

  .logos-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1920px) {
  .block-quote {
    font-weight: 500;
  }
}

@media screen and (max-width: 991px) {
  .container-header {
    padding-right: 24px;
    padding-left: 24px;
    justify-content: space-between;
  }

  .container {
    padding-right: 24px;
    padding-left: 24px;
    overflow-x: hidden !important;
  }

  .h1.left {
    font-size: 32px;
  }

  .section {
    padding-top: 96px;
  }

  .row {
    margin-bottom: 96px;
    grid-column-gap: 40px;
  }

  .vertical-scroll-wrapper {
    overflow: hidden;
  }

  .text-rotation-wrapper.ping-me {
    margin-bottom: 96px;
  }

  .heading-large {
    font-size: 2.25rem;
  }

  .grid-box {
    margin-bottom: 48px;
    grid-column-gap: 40px;
  }

  .center-row {
    padding-right: 0px;
    padding-left: 0px;
  }

  .center-row.mt-120 {
    margin-top: 96px;
  }

  .footer {
    margin-top: 96px;
  }

  .footer-row {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .brand {
    width: 100%;
  }

  .arrow-box {
    display: none;
  }

  .logos-container {
    overflow: hidden;
    height: 3rem;
  }

  .body {
    background-size: auto 120px;
  }
}

@media screen and (max-width: 767px) {
  .perex.muted.mb-32 {
    max-width: none;
  }

  .perex.muted.left {
    font-size: 16px;
  }

  .perex.muted.mobile-left {
    text-align: left;
  }

  .perex.primary.rotate-text {
    font-size: 16px;
  }

  .block-quote {
    font-size: 16px;
  }

  .header-nav {
    grid-column-gap: 24px;
  }

  .nav-link {
    font-size: 14px;
  }

  .hero {
    padding-top: 160px;
    padding-bottom: 56px;
  }

  .h1 {
    font-size: 32px;
  }

  .h1.left.mobile-center {
    text-align: center;
  }

  .primary-button {
    width: 100%;
    justify-content: center;
  }

  .logos {
    flex-wrap: nowrap;
  }

  .h2 {
    margin-bottom: 24px;
  }

  .row {
    margin-bottom: 80px;
    flex-direction: column;
    grid-row-gap: 24px;
  }

  .service-box {
    max-width: 100%;
  }

  .service-box.quote-box {
    flex-direction: column;
  }

  .bg-bottom {
    bottom: -134px;
  }

  .vertical-scroll-wrapper {
    overflow: hidden;
    width: 220px;
  }

  .text-rotation-wrapper {
    margin-bottom: 80px;
    margin-left: 0%;
  }

  .heading-large {
    font-size: 1.875rem;
  }

  .line.horizontal.top {
    left: -24px;
    right: -24px;
  }

  .line.horizontal.bottom {
    left: -24px;
    right: -24px;
  }

  .grid-box {
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .quote-left {
    margin-bottom: 24px;
  }

  .brands {
    justify-content: flex-start;
  }

  .email-link {
    font-size: 32px;
  }

  .footer-row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-p.social {
    line-height: 250%;
  }
}

@media screen and (max-width: 479px) {
  .perex {
    font-size: 16px;
    letter-spacing: 0px;
  }

  .perex.muted.left {
    text-align: left;
    white-space: nowrap;
  }

  .perex.primary.rotate-text {
    white-space: nowrap;
  }

  .h3 {
    font-size: 18px;
  }

  .testimonial-grid__item {
    padding-right: 24px;
    padding-left: 24px;
  }

  .nav-link {
    display: none;
  }

  .nav-link.language {
    display: block;
  }

  .h2 {
    font-size: 24px;
  }

  .service-box {
    padding: 24px;
  }

  .service-box.quote-box {
    padding: 24px;
  }

  .quote-footer {
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 40px;
  }

  .link-button {
    width: 100%;
  }

  .brands {
    flex-wrap: wrap;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .brand-logo {
    height: 40px;
  }

  .email-link {
    font-size: 24px;
  }
}

#w-node-_0b4c6e25-deb6-c6ee-5a4b-f20a45857518-5d05d6ef {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_45c9d881-e470-637b-2dbd-25c5cc190516-5d05d6ef {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_690e6de0-80c6-2361-0b57-41d73e7a2f81-5d05d6ef {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a402803f-5fe4-aabc-de87-f6b3fab50749-5d05d6ef {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_2fe8c884-a548-dba2-38c9-f619d4a428a3-5d05d6ef {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Montserrat variablefont wght';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat variablefont wght';
  src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat variablefont wght';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}